# Node modules
node_modules/

# Logs
logs
*.log

# Environment variables
.env

# Build output
dist/
build/

# Temporary files
tmp/
temp/

# IDE specific files
.idea/
.vscode/
.DS_Store

# Coverage reports
coverage/
